<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-thumbnail">
    </div>
    <div class="col-md-9">
      <a [href]="artista.external_urls?.spotify" target="_blank" class="btn btn-outline-success">Abrir Spotify</a>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/search']">Regresar</button>
      <br>
      <h1 class="text-capitalize">{{artista.name}}</h1>
    </div>
  </div>
  <div class="row top30">
    <div class="col-md-12">
        <h3>Top Tracks</h3>
        <div class="row puntero top30" *ngFor="let t of topTracks">
          <div class="col-md-2">
             <img [src]="t.album.images | sinfoto" class="img-thumbnail img-circular" width="80">
          </div>
          <div class="col-md-10">
            <h4 class="text-capitalize">{{t.name}} </h4>
            <audio controls="controls">
              <source [src]="t.preview_url" type="audio/mpeg" />
              Tu navegador es muy viejo
            </audio>
            <!--
            <iframe [src]="t.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            -->
          </div>
          <hr>
        </div>
    </div>
  </div>
</div>
